<div class="row checkout-steps">
    <div class="col <%= typeof step1 !== "undefined" ? 'active' : '' %>">Sign-In</div>
    <div class="col <%= typeof step2 !== "undefined" ? 'active' : '' %>">Shipping</div>
    <div class="col <%= typeof step3 !== "undefined" ? 'active' : '' %>">Payment</div>
    <div class="col <%= typeof step4 !== "undefined" ? 'active' : '' %>">Place Order</div>
</div>
