<header class="site-header ">
    <nav class="container d-flex flex-column flex-md-row justify-content-between">
      <a class="py-2" href="index.html" aria-label="Product"><i class="bi bi-house"></i> Amazona</a>
      <a class="py-2 d-none d-md-inline-block" href="laaptop.html"><i class="bi bi-laptop"></i> Laptop</a>
      <a class="py-2 d-none d-md-inline-block" href="phhones.html"><i class="bi bi-phone"></i> Phones</a>
      <a class="py-2 d-none d-md-inline-block" href="#"><i class="bi bi-cart"></i> Cart</a>
      <a class="py-2 d-none d-md-inline-block" href="loogin.html">Login and Sign up</a>
    </nav>
<div class="banner d-flex align-items-center pl-3 pl-lg-5">
    <div>
        <h1 class="text-slanted text-capitalize mb-0">
            MSI Laptops
        </h1>
        <h1 class="text-lowercase font-weight-bold">
            Gaming Laptops
        </h1>
        <a href="#" class="btn btn-yellow"> view collection </a>
    </div>
</div>
</header>