  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/">Eshrely</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#basic-navbar-nav"
        aria-controls="basic-navbar-nav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="basic-navbar-nav">
        <form class="d-flex me-auto">
          <div class="input-group">
            <input
              type="text"
              name="q"
              id="q"
              placeholder="Search Products..."
              aria-label="Search Products"
              aria-describedby="button-search"
              class="form-control"
            />
            <script>
              function searchHandler(e) {
                e.preventDefault();
                const q = document.getElementById("q").value;
                window.location.href = `/products/search?q=${q}`;
              }
            </script>
            <button
            class="btn btn-outline-primary"
            onclick="searchHandler(event)"
            id="button-search"
          >
            <i class="fas fa-search"></i>
          </button>          
          </div>
        </form>
        <ul class="navbar-nav ms-auto w-100 justify-content-end">
          <li class="nav-item">
            <a class="nav-link" href="/products">Products</a>
          </li>
          <% cats.forEach((cat) => { %>
            <li class="nav-item">
              <a class="nav-link" href='/<%= cat.toLowerCase() %>'><%= cat %></a>
            </li>
            <% }); %>
          <li class="nav-item">
            <a class="nav-link" href="/cart">Cart</a>
            <!-- Replace the hardcoded value with the actual number of cart items using JavaScript 
            <span class="badge bg-danger rounded-pill">3</span>-->
          </li>
          <!-- Replace the following block with the actual user info using JavaScript -->
          <% if (typeof user !== "undefined") { %>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="basic-nav-dropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <%= user.name %>
              </a>
              <ul class="dropdown-menu" aria-labelledby="basic-nav-dropdown">
                <li>
                  <a class="dropdown-item" href="/profile">User Profile</a>
                </li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a
                    class="dropdown-item"
                    href="#signout"
                    onclick="signoutHandler()"
                    >Sign Out</a
                  >
                </li>
              </ul>
            </li>
            
            <% } else {%>
              <li class="nav-item">
                <a class="nav-link" href="/signin">Sign In</a>
              </li>
              <% } %>
        </ul>
      </div>
    </div>
  </nav>
  <script>
    function signoutHandler() {
      fetch("/logout", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
      }).then((res) => {
        if (res.status === 200) {
          window.location.href = "/";
        } else {
          console.log("Failed to sign out");
        }
      });  
    }
  </script>