<div class="small-container container">
    <h3 class="my-3">Forgot Password</h3>
    <form id="forgetpass" onsubmit="forgotHandler(event)">
        <div class="mb-3">
            <label for="email" class="form-label">Email Address</label>
            <input type="email" class="form-control" id="forgetEmail" required placeholder="Enter email" />
            <span id="emailError" class="error-message"></span>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>

<script src="/public/scripts/forgetpass.js"></script>