<div class="small-container container">
    <h3 class="my-3">Forgot Password</h3>
    <form id="forgetpass" onsubmit="forgotHandler(event)">

        <div class="mb-3">
            <label for="email" class="form-label">Email Address</label>
            <input type="email" class="form-control" id="signupEmail" required placeholder="Enter email" />
            <span id="emailError" class="error-message"></span>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="signupPassword" required placeholder="Enter Password" />
            <span id="passwordError" class="error-message"></span>
        </div>
        <div class="mb-3">
            <label for="confirmPassword" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="signupConfirmPassword" required
                placeholder="Confirm Password" />
            <span id="confirmPasswordError" class="error-message"></span>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>

    </form>
</div>

