  <%- include('../partials/checkoutsteps', { step1: true, step2: true, step3: true }) %>
  <div class="container small-container"style="margin-right: 50px;">
    <h1 class="my-3">Payment Method</h1>
    <form id="paymentForm" onsubmit="paymentHandler(event)">
      <div class="mb-3">
        <input type="radio" id="PayPal" name="paymentMethod" value="PayPal" <%= user && user.paymentMethod === "PayPal" ? "checked" : "" %>>
        <label for="PayPal">PayPal</label>
      </div>
      <div class="mb-3">
        <input type="radio" id="Cash" name="paymentMethod" value="Cash" <%= user && user.paymentMethod === "Cash" ? "checked" : "" %>>
        <label for="Cash">Cash on delivery</label>
      </div>
      <div class="mb-3">
        <button class="btn btn-primary">Continue</button>
      </div>
    </form>
  </div>
<script src="/public/scripts/payment.js"></script>  