<div id="paypal-button-container" style="width: 10px;">
</div>
<script src="https://www.paypal.com/sdk/js?client-id=Adl807sAwea4chd_atEpuqif_yg519DmWDHUqKS1bZKaSyCl1SGo_kYAb0PUj2xl771F95W7Jng_mAME"></script>
<script>
  paypal.Buttons({
    createOrder: function(data, actions) {
      return actions.order.create({
        purchase_units: [
          {
            amount: {
              value: '299.99'
            }
          }
        ]
      });
    }
  }).render('#paypal-button-container');
</script>