<div class="container small-container">
  <h1 class="my-3">User Profile</h1>
  <form onsubmit="profileHandler(event)">
    <div class="form-group mb-3">
      <label>Name</label>
      <input class="form-control" id="profileName" value="<%= user.name %>" required />
    </div>
    <div class="form-group mb-3" >
      <label>Email</label>
      <input type="email" id="profileEmail" class="form-control" value="<%= user.email %>" required />
    </div>
    <div class="form-group mb-3" >
      <label>Password</label>
      <input type="password" id="profilePassword" class="form-control" />
    </div>
    <div class="form-group mb-3" >
      <label>Confirm Password</label>
      <input type="password" id="profileConfirmPassword" class="form-control" />
    </div>
    <div class="mb-3">
      <button class="btn btn-primary" type="submit">Update</button>
    </div>
  </form>
</div>
<script src="/public/scripts/profile.js"></script>