<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reports</title>
  <style>
    form {
      width: 100%;
    }

    label {
      display: block;
      margin-bottom: 10px;
    }

    input[type="text"] {
      width: 100%;
      padding: 8px;
    }

    .generate-Reports {
      margin-top: 20px;
    }

    .add-button {
      margin-top: 20px;
      background-color: red;
      color: white;
      padding: 10px 20px;
      border: none;
      cursor: pointer;
      border-radius: 4px;
    }

    .add-button:hover {
      background-color: #c70000;
    }

    .submit {
      margin-top: 20px;
      background-color: #4CAF50;
      color: white;
      padding: 10px 20px;
      border: none;
      cursor: pointer;
      border-radius: 4px;
    }

    .submit:hover {
      background-color: #45a049;
    }
  </style>
</head>

<body>
  <h1>Reports</h1>
  <br>
  <form id="reportForm">
    <label for="issue">
      <h2>What are the issues you had when you were using our website?</h2>
    </label>
    <br>
    <div id="issueContainer">
      <input type="text" name="issue" placeholder="Enter the Problem">
    </div>
  </form>
  <button class="add-button" onclick="addIssue()">Add Problem</button>
  <button class="submit" onclick="submitReport(event)">Submit</button>
  
  <!-- Success message -->
  <div id="successMessage" style="display: none; color: green;">Form submitted successfully!</div>

  <script>
    function addIssue() {
      var container = document.getElementById("issueContainer");
      var newIssue = document.createElement("input");
      newIssue.setAttribute("type", "text");
      newIssue.setAttribute("name", "issue");
      container.appendChild(newIssue);
    }

    async function submitReport(e) {
      e.preventDefault();
      var form = document.getElementById("reportForm");
      var issues = [];

      // Collect all the issues
      var issueInputs = document.getElementsByName("issue");
      for (var i = 0; i < issueInputs.length; i++) {
        issues.push(issueInputs[i].value);
      }
      console.log(issues);
      console.log("Submitting the form...");
      const res = await fetch("/user/reports", {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ reports: issues }),
      });
      // Display the success message
      var successMessage = document.getElementById("successMessage");
      successMessage.style.display = "block";
    }
  </script>
</body>

</html>
