<div class="small-container container">
<h3 class="my-3">Sign Up</h3>

    <form onsubmit="submitHandler()">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" required placeholder="Enter Name">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email Address</label>
            <input type="email" class="form-control" id="email" required placeholder="Enter email">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" required placeholder="Enter Password">
        </div>
        <div class="mb-3">
            <label for="confirmPassword" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="confirmPassword" required placeholder="Confirm Password">
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Sign In</button>
        </div>
        <div class="mb-3">
            Already have an account? <a href="/signin">Sign-In</a>
        </div>
    </form>
</div>
