<div class="small-container container">
<h3 class="my-3">Sign Up</h3>
    <form id="signupForm" onsubmit="signupHandler(event)">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="signupName" required placeholder="Enter Name">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email Address</label>
            <input type="email" class="form-control" id="signupEmail" required placeholder="Enter email">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="signupPassword" required placeholder="Enter Password">
        </div>
        <div class="mb-3">
            <label for="confirmPassword" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="signupConfirmPassword" required placeholder="Confirm Password">
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Sign In</button>
        </div>
        <div class="mb-3">
            Already have an account? <a href="/signin">SignIn</a>
        </div>
    </form>
</div>